@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

.landing-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0px 0px 0px 0px;
    
}

.left-part {
    display: flex;
    margin: 0px;
    padding-bottom: 10%;
    

}
.info-container {
    display: block;
    align-items: center;
    margin: 5rem 0rem 1rem 9rem;
    z-index: 200;
    
}
.title-text {
    font-size: 3rem;
}
.highlighted {
    color: #DE4396;
}
.circle {
    position: absolute;
    width: 20rem;
    height: 20rem;
    display: flex;
    opacity: 0.45;
    top: 12rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)) blur(5px);
    z-index: 10;
}

.animation {
    display: inline;
    margin: auto;
    
}

.left-part{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem 0rem 0rem 0rem;
}

@media (max-width: 1200px) {
      .animation {
        display: none;
      }
    }

@media (max-width: 770px) {
    .landing-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0px 0px 0px 0px;
    
}

.left-part {
    display: flex;
    margin: 0px;
    padding-bottom: 10%;
    

}
.info-container {
    display: block;
    align-items: center;
    margin: 5rem 0rem 1rem 3rem;
    z-index: 200;
    
}
.button-div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    margin: 0px 0px 0px 0px;
}
.title-text {
    font-size: 3rem;
}
.highlighted {
    color: #DE4396;
    font-size: 3rem;
}
}