@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

.landing-container {
    display: flex;
    margin: 10% 0px 0px 0px;
}

.left-part {
    display: inline-block;
    margin: 0px 0px 10% 0px;

}
.info-container {
    display: block;
    align-items: center;
    margin: 5rem 5rem 1rem 9rem;
    
    z-index: 200;
}
.title-text {
    font-size: 3rem;
}
.highlighted {
    color: #DE4396;
}
.circle {
    position: absolute;
    width: 20rem;
    height: 20rem;
    display: flex;
    opacity: 0.45;
    top: 12rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)) blur(5px);
    z-index: 10;
}

.animation {
    display: inline;
    margin: auto;
    
}

@media (max-width: 1200px) {
      .animation {
        display: none;
      }
    }