.SocialLinks svg{
    cursor: pointer;
}




@media (max-width: 1399.98px) {
    .SocialLinks {
       
    }
}


@media (max-width: 1199.98px) { 
    .SocialLinks {
        justify-self: flex-end;
        align-self: flex-end;
        position: relative;
}
}
@media (max-width: 991.98px) {
    .SocialLinks {
        justify-self: flex-end;
        align-self: flex-end;
        position: relative;
}
}
  
@media (max-width: 768px) {
    .SocialLinks {
        justify-self: flex-end;
        align-self: flex-end;
        position: relative;
}
}
