
.form-container{
    width: 1150px;
    height: 650px;
    display: grid;
    grid-template-columns:42% 58%;
    padding: 2rem; 
    background-color: white;
    overflow: hidden;
  }
  
  

  
  @media (max-width: 991.98px) {
  
    .form-container {
      grid-template-columns: 50% 50%;
    }
  
  }
  @media (max-width: 768px) {
    * {
      font-size: small;
    }
  
    .form-container {
      grid-template-columns: 1fr;
      height: auto; 
    }
  
  }