.profile-photo-container img.rounded-circle {
    border: 3px solid purple;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.info {
    padding-bottom: 1rem;
    margin: 1rem;
}


.profile-name {
    justify-self: center;
}

.profile-info {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    margin: 1rem;
}

.profile-link {
    text-decoration: underline;
    color: black;
    font-weight: 600;
}

/* Extra large devices (desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* Large devices (desktops and tablets in landscape mode, 992px and up) */
@media (max-width: 992px) {
    .profile-info {
        grid-template-columns: 1fr 3fr;
    }
}

/* Medium devices (tablets in portrait mode, 768px and up) */
@media (max-width: 768px) {
    .profile-info {
        grid-template-columns: 1fr;
    }

    .info {
        justify-self: center;
    }

    .member-image-container {
        justify-self: center;
    }
}

/* Small devices (mobile phones, 576px and up) */
@media (max-width: 576px) {
    .profile-info {
        grid-template-columns: 1fr;
    }
}

/* Extra small devices (smaller phones, below 576px) */
@media (max-width: 360px) {}