#resources-view-container {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

#resources-container {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */

  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: start; /* Aligns items at the start of the container */
  align-items: center;
  overflow-x: auto; /* Enables horizontal scrolling */
  scrollbar-width: thin; /* Optional: makes the scrollbar thinner */
  scrollbar-color: #888 #e0e0e0; /* Optional: customizes scrollbar colors */
}
/* Optional: styling for scrollbar for webkit browsers */
#resources-container::-webkit-scrollbar {
  height: 8px;
}
#resources-container::-webkit-scrollbar-track {
  background: #e0e0e0;
}

#resources-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  margin: 10px 0px 20px 0px;
  font-family: "Jost",sans-serif;
}

h3 {
  font-size: 35px;
  font-weight: normal;
  font-family: "Jost",sans-serif;
}